$screen-mobile:               320px;
$screen-tablet:               960px;
$screen-desktop:              1250px;

$container-mobile:            260px;
$container-tablet:            688px;
$container-desktop:           1050px;

$color-black:                 #000000;
$color-white:                 #ffffff;
$color-inputInvalid:          #ff0000;
$color-inputValid:            #008000;
$color-mainBackground:        #f6f2f2;
$color-mainBlocks:            #d3c27a;
$color-navDropDown:           #e8a8a8;
$color-grey:                  #cccccc;
$color-submitButton:          #cd1f84;
$color-resetFormButton:       #1f2fcd;
$color-checkboxChecked:       #424d52;
$color-mainContentNavCurrent: #d62020;
